{
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-react-jsx",
    "babel-plugin-transform-react-jsx",
    "babel-plugin-syntax-jsx",
    "transform-object-rest-spread"
  ],
  "presets": ["es2015", "react", "stage-0"]
}
